/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------------------------------- */

@font-face {
  font-family: Norse-Bold;
  src: url(assets/Norse-Bold.otf);
}

body {
  display: flex;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

aside {
  width: clamp(40ch, 40%, 75ch);
  height: 100vh;
  background: url(assets/background-image.jpg) center/cover;
  color: white;
}

.aside-main {
  display: flex;
  justify-content: center;
  font-family: Norse-Bold;
  background-color: rgba(0, 0, 0, 0.5);
  height: 15vh;
  font-size: 5rem;
  margin-top: 20vh;
  padding: 1rem;
  align-items: center;
}

.aside-main img{
  height: 100%;
}

aside footer {
  position: fixed;
  bottom: 0;
  width: inherit;
  text-align: center;
  margin: 1rem 0;
  font-size: 0.8rem;
}

aside footer a:link, aside footer a:visited {
  color: inherit;
}

main {
  background-color: #E5E7EB;
  width: 65%;
  height: 100vh;
}

main header {
  padding: 100px 30px 50px 30px;
}

h2 {
  font-size: clamp(1rem, 1.7vw, 1.5rem);
  font-weight: 600;
}

em {
  font-style: italic;
}

section {
  background-color: white;
  padding: 30px;
}

form {
  margin-top: 20px;
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

label {
  font-variant: small-caps;
  font-size: clamp(1rem, 1.5vw, 1.4rem);
  margin-bottom: 5px;
}

input {
  margin-bottom: 20px;
  margin-right: 60px;
  border: 2px solid #E5E7EB;
  padding: 5px;
}

main footer {
  padding: 30px;
}

button {
  background-color: #596D48;
  color: white;
  padding: 10px 50px;
  border-radius: 5px;
  font-size: clamp(1rem, 1.5vw, 1.3rem);
}

p {
  font-size: clamp(1rem, 1.5vw, 1.3rem);
  font-weight: 600;
  padding-top: 30px;
}

p a:link, p a:visited {
  color: #596D48;
  text-decoration: none;
}
